*{
    margin: 0;
    padding:0;
    box-sizing: border-box;

}

header{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    margin: 0 auto;
    width: 1920px;
    text-align: center;
}
.h1-head{
    padding-bottom: 40px;
    font-family: sans-serif;
    font-size: 50px;
    color: #fff;
}
.p-head{
    color: #fff;
    font-family: sans-serif;
}
li a{
    padding: 0px 10px;
    color: #fff;
}
.item3{
    display: flex;
    justify-content: center;
}
.link-1{
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 13px;
    background-color: rgb(255, 255, 255);
    border-radius: 27px;
}
.link-2{
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 13px;
    background-color: rgb(0, 0, 0);
    border-radius: 27px;
    margin-left: 15px;
    
;

}
.item3 p{
    color: rgb(2, 2, 2);
    padding: 13px;
    background-color: aliceblue;
    border-radius: 27px;
    margin: 31px 12px;
}
/* inseriamo i due link nel head */
.due-link{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

/* fine header */

/* diamo un font family a tutti gli h1 */
.h1-main{
    color: rgb(0, 0, 0);
    font-size: 44px;
    font-family: sans-serif;
}
/* diamo un font famili a tutti i p nel main */
.p-main{
    padding-top: 20px;
    font-size: 19px;
    font-family: sans-serif;
}
.dim1{
    align-self: end;
}
.inizio{
    height: 45px;
    width: 1920px;
    margin: 0 auto;
    display: flex; 
    justify-content: center;
    align-items: center;  
    padding: 44px 260px;
    background-color: #255ee9;  
}

.immagine-logo{
    height: 40px;
}
.item1,{
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    size: 20px;
}
.item2{
    flex-grow: 3;
    display: flex;
    justify-content: center;
    font-family: sans-serif;
}

ul{
    list-style: none;
}
li a{
    text-decoration: none;
    margin: 0 5px; 

}

.sez1{
    width: 1920px;
    height: 540px;
    margin: 0 auto;
    padding-top: 62px;
}
.sezione1{
    width: 777px;
    margin: 0 auto;
    padding-top: 90px;
}

.sez2{
    background-color: rgb(173, 173, 189);
    width: 1920px;
    height: 560px;
    margin: 0 auto;
    margin-top: 90px;
    padding-top: 40px;
}

h2{
    font-family: sans-serif;
    font-size: 36px;
}
.lato-sinistro h2{
    font-size: 40px;
    color: #7e9deb;
}

p{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: sans-serif;
}

.sez3{

    background-color: #fff;
    width: 1920px;
    height: 560px;
    margin: 0 auto;
    padding: 140px 0px;
}
.sezione2{
    margin: 0 auto;
    width: 1050px;
    height: 425px;
    display: flex;
}




.sez4{
    margin: 0 auto;
    background-color: rgb(209, 209, 209);
    padding: 261px 0px;
    width: 1920px;
    margin-top: 130px;
}
.stars{
    padding: 38px;
}

.sezione3{
    margin: 0 auto;
    width: 1050px; 
    text-align: center;
}
.img-back{
    background-image: url(../img/stars.svg);
    height: 50px;
    width: 533px;
    text-align:center;
    margin: 0 auto;
}

footer{
    background-color: rgb(27, 25, 25);
    width: 1920px;
    margin: 0 auto;

}

.finale-main{
    height: 400px;
    width: 1920px;
    margin: 0 auto;
    padding: 20px;
}

.sez5{
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.lato-sinistro{
    
    width: 390px;
    padding-top: 15px;
}
.lato-destro{
    width: 1000px;
    display: flex;
}

.uno{
    width: 20px;
    flex-grow: 2;
}
.uno p{
    padding: 10px 0px;
}

.divisore{
    background-color:#7e9deb;
    height: 1px;
    width: 1400px;
    margin: 0 auto;
    margin-top: 122px;
}
 
.fine{
    margin: 0 auto;
    height: 115px;
    width: 1920px;
    padding-top: 10px;
}

.ultima-class{
    
    width: 1400px;
    height: 65px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
.link{
    color: #fff;
    text-decoration: none;
    padding: 13px;
    background-color: rgb(76, 149, 212);
    border-radius: 27px;
}

.flex-finale{
    display: flex;
    margin-top: 20px;
}
.flex-finale img{
    width: 30px;
    margin-right: 10px;

}
.flex-finale p{
    align-self: center;
}
.blue{
    color: #7e9deb;
    font-size: 23px;
}